/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[4].use[0]!./assets/scripts/components/combat-log.vue?vue&type=style&index=0&id=d42e1382&scoped=true&lang=css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/

table[data-v-d42e1382] {
    width: 100%;
}
td[data-v-d42e1382], th[data-v-d42e1382] {
    padding: .25rem;
    text-align: left;
}
thead th[data-v-d42e1382] {
    vertical-align: bottom;
}
tbody td[data-v-d42e1382], tbody th[data-v-d42e1382] {
    vertical-align: top;
}


